.page-header
  %h1 Товары








-#.row.pull-right.col-md-3{style: "white-space: nowrap"}
-#  .glyphicon.glyphicon-chevron-right
-#  -@sum,@sum2=0,0;@cart.line_items.each{|itm| @sum+=itm.quantity;@sum2+=itm.price*itm.quantity}
-#  = link_to "В вашей корзине #{@sum} #{Russian.p(@sum,'товар','товара','товаров')}. Общая цена: #{number_to_currency(@sum2, separator: ",", delimiter: "", unit: "₽", format: "%n %u")}", @cart, class: "btn btn-danger", :style => "white-space:normal; width: 216px;"

.container
  -@products.each do |product|
    .col-md-3
      .list-group
        .list-group-item
          %h4
            =product.name
        .list-group-item
          Цена:
          .badge
            =number_to_currency(product.price)
        .list-group-item
          Описание:
          =product.description
        .list-group-item
          Вес
          .badge
            =product.weight
            г.
        .list-group-item
          = link_to 'Показать', product, class: "btn btn-primary glyphicon glyphicon-search btn-sm"
          = link_to 'В корзину', line_items_path(product_id: product.id), data:{method: :post, remote: :true}, class:"btn btn-danger glyphicon glyphicon-plus"

        .list-group-item= link_to 'Редактировать', edit_product_path(product)
        .list-group-item= link_to 'Удалить', product, :method => :delete, :data => { :confirm => 'Вы уверены?' }











.br

= link_to 'Новый продукт', new_product_path, class: "btn btn-primary"
.br
= paginate @products