%h1 Список продуктов
= link_to 'Новый товар', new_product_path, class: "btn btn-primary"
%br
= paginate @products
%ul.list-group
  %b
    .li.list-group-item-info
      .row
        .col-md-2
          .span.glyphicon.glyphicon-flash
          Название
        .col-md-2
          .span.glyphicon.glyphicon-info-sign
          Описание
        .col-md-2
          .span.glyphicon.glyphicon-ruble
          Цена
        .col-md-2
          .span.glyphicon.glyphicon-scale
          Вес
        .col-md-2
          .span.glyphicon.glyphicon-pencil
          Редактировать


  %br

  - @products.each do |product|
    %li.list-group-item
      .row
        .col-md-2
          = product.name
        .col-md-2
          = product.description
        .col-md-2
          =number_to_currency(product.price, locale: :ru)
        .col-md-2
          = product.weight
        .col-md-2
          .btn-group
            %input.btn.btn-danger{:type => "Button"}
              %ul.dropdown-menu
                %li
                  = link_to 'Посмотреть', product, class: "btn btn-info"
                %li
                  = link_to 'Изменить', edit_product_path(product), class: "btn btn-info"
                %li
                  = link_to 'Удалить', product, :method => :delete, :data => { :confirm => 'Уверены?' }, class: "btn btn-info"
    %br

= paginate @products