%p#notice= notice

%p
  %b Название:
  = @product.name
%p
  %b Описание:
  = @product.description
%p
  %b Цена:
  = @product.price
%p
  %b Вес:
  = @product.weight

= link_to line_items_path(product_id: @product.id), data: {method: :post}, class: "btn btn-primary" do
  Добавить в корзину

= link_to 'Изменить', edit_product_path(@product), class: "btn btn-info"

= link_to 'Назад', products_path, class: "btn btn-primary"
