
.br
.page-header
  .h1=@product.name

-#.row
-#  .pull-right.col-md-3{style: "white-space: nowrap"}
-#    .glyphicon.glyphicon-chevron-right
-#    -@sum,@sum2=0,0;@cart.line_items.each{|itm| @sum+=itm.quantity;@sum2+=itm.price*itm.quantity}
-#    = link_to "В вашей корзине #{@sum} #{Russian.p(@sum,'товар','товара','товаров')}. Общая цена: #{number_to_currency(@sum2, separator: ",", delimiter: "", unit: "₽", format: "%n %u")}", @cart, class: "btn btn-danger", :style => "white-space:normal; width: 216px;"


%p
  %b Название:
  = @product.name
%p
  %b Описание:
  = @product.description
%p
  %b Цена:
  = number_to_currency(@product.price)
%p
  %b Вес:
  = @product.weight
-a=@cart.line_items.where("product_id= ?",@product.id)
-if !a.blank?
  -b=a[0]
  %b В вашей корзине:
  =link_to '',line_item_path(id:b.id,place: "show"), data:{method: :delete}, class:"btn btn-mini glyphicon glyphicon-minus"
  #{b.quantity}
  =link_to '',line_items_path(id:b.id,place: "show"),data:{:method => :post}, class:"btn btn-mini glyphicon glyphicon-plus"
%p





= link_to line_items_path(product_id: @product.id,product:@product), data:{method: :post}, class: "btn btn-success" do
  =fa_icon "cart-plus"
  Добавить в корзину
\|
= link_to @cart, class: "btn btn-info" do
  =fa_icon "share"
  Перейти к корзине
\|
= link_to edit_product_path(@product), class: "btn btn-warning" do
  =fa_icon "pencil"
  Редактировать
\|
= link_to products_path, class: "btn btn-primary" do
  =fa_icon "reply"
  Вернуться к списку товаров

-if @product.image?
=link_to @product.image.url do
  =image_tag @product.image.url(:thumb)
    =image_tag @product.image, alt: @product.name