%p#notice= notice



%p
  %b Количество:
  = @line_item.quantity
%p
  %b Цена:
  = @line_item.price
%p
  %b Корзина:
  = @line_item.cart.id
%p
  %b Товар:
  = @line_item.product.name

= link_to 'Изменить', edit_line_item_path(@line_item)
\|
= link_to 'Назад', line_items_path
